{% extends "layout.html" %}

{% block content %}
    {% for user in recList %}
    <div class="card">
        <div class="profile-img"></div>
        <p>{{user.name}}</p>
        <p>{{user.program}}</p>

        <!-- Interests loop -->
        
        <p class="strength attributes">
            {% for tag in user.strengths %}
                <span class="tag">#{{tag}}</span>
            {% endfor %}                                        
        </p>               
        <p class="weakness attributes">
            {% for tag in user.weakness %} 
                <span class="tag">#{{tag}}</span>
            {% endfor %}                                        
        </p>    

        <!-- Interests loop END-->

        <p>{{user.bio}}</p>
        <ul> 
            <li><a href="#"><i class="fas fa-heart"></i></a></li>
            <li><a href="#"><i class="fas fa-user-circle"></i></a></li>
            <li><a href="#"><i class="far fa-times-circle"></i></a></li>
        </ul>  
    </div>
    {% endfor %}
{% endblock content %}

